# Alles blockieren
/*

# Verzeichnisse explizit zulassen
!/src/
!/src/**
!/res/
!/res/**
!/inc/
!/inc/**
!/py/
!/py/**

# Spezialfall /out:
# Wir erlauben den Ordner, ignorieren aber den gesamten Inhalt (Objektdateien etc.)
!/out/
/out/**

# AUSNAHMEN für die fertigen ROMs (Diese sollen eingecheckt werden)
!/out/tetr-vibe.gen
!/out/tetr-vibe-debug.gen

# Alte rom.bin explizit ignorieren (falls sie noch existiert)
/out/rom.bin

# VS Code & Projekt-Konfigurationen
!/.vscode/
!/.vscode/**
!/.gitignore

# Metadaten und temporäre Dateien ignorieren
*.o
*.d
*.out
*.res
*.s